#countryChart {
    /*font: 11px sans-serif;*/
    margin: 0;
}

path.line {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

path.area {
    fill: #e7e7e7;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: #fff;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}
body.modal-open, .modal-open , .modal-open {
    margin-right: 0;
}

.modal {
    overflow-y: auto;
}